---
layout: default
title: Blog
---

<div class="blog-index">

  <h1 class="blog-page-title">Blog</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      <li class="post-item">
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
        <h2 class="post-title">
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title }}</a>
        </h2>
        {% if post.excerpt %}
          <div class="post-excerpt">{{ post.excerpt }}</div>
        {% endif %}
        <a class="post-read-more" href="{{ post.url | relative_url }}">阅读全文 <i class="fas fa-arrow-right"></i></a>
      </li>
    {% else %}
      <p>No posts yet. Check back soon!</p>
    {% endfor %}
  </ul>

</div>

